In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
from abla_function_creation import draw_chart,draw_chart2, print_label, calc_means, calc_sems, count_sample

In [3]:
advice_df = pd.read_csv("employee_reviews.csv",encoding="utf-8")
advice_df= advice_df[['company', 'location', 'dates', 'job-title', 'advice-to-mgmt']]
new=advice_df['job-title'].str.split("-",expand=True)
advice_df['status']= new[0]
advice_df['position']= new[1]
advice_df= advice_df.drop(['job-title'],axis=1)
advice_df= advice_df.drop(['position'],axis=1)

advice_df.reset_index()

advice_df.groupby("company")
advice_df.head()

,company,location,dates,advice-to-mgmt,status
0,google,none,"Dec 11, 2018",none,Current Employee
1,google,"Mountain View, CA","Jun 21, 2013",1) Don't dismiss emotional intelligence and ad...,Former Employee
2,google,"New York, NY","May 10, 2014",Keep the focus on the user. Everything else wi...,Current Employee
3,google,"Mountain View, CA","Feb 8, 2015",Keep on NOT micromanaging - that is a huge ben...,Current Employee
4,google,"Los Angeles, CA","Jul 19, 2018",Promote managers into management for their man...,Former Employee